@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: unset;
}

.main {
  padding: clamp(1.4rem, 8.889vw + 0.222rem, 8rem);
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

input {
  background-color: #ffffff14;
  padding: 10px;
  border-radius: 10px;
}

input[type="checkbox"] {
  min-width: 25px;
  min-height: 25px;
}

button {
  background-color: #ffffff14;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.8;
}

aside button {
  width: 100%;
  text-align: start;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}
